/* MOBILE FIRST!*/

html {
    font-size: 62.5%;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* - - TEKSTIELEMENTTIEN SÄÄNNÖT - - */

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}
h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-block-end: 0.5rem;
}
p {
    font-size: 1rem;
    padding-block-end: 1rem;
}

#specialtext {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
.opacity {
    opacity: 0.5;
}
.uppercase {
    text-transform: uppercase;
}
/* - - TAGien SÄÄNNÖT - - */
#special {
    background-color: #697F87;
    background-image: url(./images/special-bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: white;
    padding: 1rem;
}

#wrapper {
    background-image: url(./images/grunge.png);
    background-repeat: repeat-y;
    padding: 1rem;
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: solid 0.2rem rgb(0, 0, 0, 0.1); 
    margin-block-end: 1rem;

}
header > * {
    flex-basis: 0;
    flex-grow: 1;
    
}
header figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
nav {
    margin: 1rem;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
ul > * {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}
.bottomlink {
    display: none;
}
#logomark {
    flex-basis: 100%;
    order: 1;
}

nav a:link, nav a:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.5;
}
nav a.current{
    color: black;
    opacity: 1;
    font-weight: bold;
}
section p a:link, section p a:visited, table a:link, table a:visited {
    color: #3EA3C4;
}

#mainpretz {
    display: block;
    margin: 0.5rem 0;
}

#main img {
    width: 100%;
}

table {
    border-bottom: solid 0.2rem rgb(0, 0, 0, 0.1); 
    width: 100%;
    margin-block-end: 1rem;    
    padding: 1rem;
}
tr, td {
    width: 50%;
}

.callout {
    background-color: #F6E8C8;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    margin-block-end: 1rem;

}
footer {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: solid 0.2rem rgb(0, 0, 0, 0.1); 
    padding: 1rem;

}
footer > * {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;   
}
footer figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}


/* Media query, tablet näkymä */

@media only screen and (min-width: 426px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    
    }
    header figure {
        flex-basis: 0;
        flex-grow: 2; 
        margin: 0.8rem;
    }
  
    header nav {
        flex-basis: 100%;
        flex-grow: 5;
    }
    nav {
        display: block;
        margin-block-start: auto;
        margin-block-end: auto;
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-block-end: 0.7rem;
    }
    h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-block-end: 0.7rem;
    }
    p {
        font-size: 1.3rem;
        padding-block-end: 1.3rem;
    }
    table a:link {
        font-size: 1.3rem;
    }
}

/* Media query, desktop näkymä */

@media only screen and (min-width: 769px) {
 
    header figure {
        margin-inline-end: 10rem;
    }

    .bottomlink {
        display: block;
        text-transform: none;
        font-weight: none;
        font-family: 'Times New Roman', Times, serif;
    }
    li {
        text-align: left;
    }
    #mainwrappi
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #mainwrappi > * {
        flex-basis: 0;
        flex-grow: 1;
    }
    #main {
        flex-grow: 3;
        margin-inline-end: 3rem;
    }
    #sidebar {
        flex-grow: 2;
    }
}